# Byte-compiled, distribution, packaging files
__pycache__/
*.pyc

.Python
.DS_Store

#Environments
.env
.venv
env/
venv/
ENV/

# run files
nohup.out
error.log

# private files
allowed_emails.txt
static/alignments/
