<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href=../static/img/favicon.ico>
    <title>IGV - Integrative Genomics Viewer</title>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/igv@2.5.0/dist/igv.min.js"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/init.js') }}"></script>
    {% if config.USES_OAUTH %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/oauth.js') }}"></script>
    {% endif %}



</head>

<body>

<div id="myDiv" style="padding-top: 50px;padding-bottom: 20px; height: auto">

    {% if config.USES_OAUTH %}
    <button id="signinbutton" disabled='disabled' onclick="handleSignInClick()">Authorize</button>
    {% endif %}

</div>

<script type="text/javascript">


     document.addEventListener("DOMContentLoaded", function () {
      var uses_oauth = {{ config['USES_OAUTH']|tojson }}
      if (uses_oauth) {
        initBrowserWithOAuth();
      } else {
        initBrowser();
      }
    });


</script>

</body>

</html>
